<%- include('./partials/header',{root:"../"}); %>
    <title>Register</title>
</head>

<body>
    <%- include('./partials/navbar',{connected:connected,admin:admin}); %>
    <div class="card text-center w-50 mx-auto">
    <div class="card-header">
        Engeristrez-vous pour pouvoir participer aux centuries !
    </div>
    <div class="card-body">
    <form id="registerForm">
        <div class="mb-3">
          <label for="EmailInput" class="form-label">Email address</label>
          <input type="email" required class="form-control" id="EmailInput">
        </div>
        <div class="mb-3">
            <label for="PseudoInput" class="form-label">Pseudo</label>
            <input type="text" required class="form-control" id="PseudoInput" >
          </div>
        <div class="mb-3">
          <label for="PasswordInput" class="form-label">Password</label>
          <input type="password" required class="form-control" id="PasswordInput">
        </div>
        <button type="submit" class="btn btn-primary" type="button" >
          <div id="submit-text">S'enregistrer</div>
          <span id="submit-spinner" style="display: none;" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </form>
      <a href="/apps/login">Vous avez un compte?</a>
    </div>
    </div>

  <%- include('./partials/script'); %>
  <script src="/js/register.js"></script>
</body>