<!DOCTYPE html>
<html lang="fr">
  <head>
    <%- include('../partials/header',{root:"../"}); %>
    <title>Login</title>
  </head>

  <body>
    <%- include('../partials/centurieNavbar',{connected:connected,admin:admin}); %>
    <!-- A center title -->
    <h1 class="text-center">Bienvenue au Challenge Century</h1>
    <%- include('../partials/script'); %>
  </body>
</html>
